<!DOCTYPE html>
<f:layout name="Default" />
<html lang="en">
<head></head>
<body>
<f:section name="body">
    <!--TYPO3SEARCH_begin-->

    <div class="body-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12 position_relative">

                    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '10'}" />

                </div>
            </div>
        </div>
    </div>

    <!--TYPO3SEARCH_end-->
</f:section>
</body>
</html>